@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

table {
    border: 5px solid black;
    border-collapse: collapse;
}

td {
    font-size: 190%;
    text-align: center;
    border: 1px solid black;
    width: 50px;
    height: 50px;
    caret-color: black;
}

.focused-cell {
    background-color: #ddd;
}

td.discovered-num {
    color: red;
}

td.box-boundary-row {
    border-bottom: 3px solid black;
}

td.box-boundary-col {
    border-right: 3px solid black;
}

button {
    margin: 0 1em;
    padding: 0.3em 1em;
    border-radius: 10px;
    border: none;
}