h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0.33em 0;
}

table {
    border: 5px solid #000000;
    border-collapse: collapse;
}

td {
    font-size: 1.8em;
    text-align: center;
    border: 1px solid #000000;
    width: 45px;
    height: 45px;
    caret-color: #000000;
}

.focused-cell {
    background-color: #ddd;
}

td.discovered-num {
    color: #ff0000;
}

td.box-boundary-row {
    border-bottom: 3px solid #000000;
}

td.box-boundary-col {
    border-right: 3px solid #000000;
}

.status-success {
    color: #008000;
}

.status-failed {
    color: #ff0000;
}

button {
    font-size: 16px;
    margin: 0 1em;
    border: none;
    border-radius: 0.25em;
    padding: 0.5em 0.8em;
    color: #ffffff;
    background-color: #196cca;
    cursor: pointer;
}
